@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #fafafa;
    
}
img{
    max-width: none;
}
.tamgiac::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    top: -5px;
    box-shadow: 0 0 3px rgb(163, 163, 163);
    transform:rotate(45deg);
    z-index: -10;

}

@keyframes scale2 {
    0%{
    transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
    transform: scale(1);
    }
}
